doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="stylesheets/full-slider.css" crossorigin="anonymous")
    link(rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" crossorigin="anonymous")
    script(src="vendor/jquery/jquery.min.js" crossorigin="anonymous").
    script(src="vendor/bootstrap/js/bootstrap.min.js" crossorigin="anonymous").
  body(style="background: aliceblue")
    include navbar
    block content
      h1 DEFAULT CONTENT (Sorry if you are seeing this)
    block foot
      include foot