div.navbar
  div.nav-row
    div.nav-main.nav-first
      div.vertical-center 
        a(href="/gateway") Portail
    div.nav-main
      div.vertical-center 
        a(href="/index") Portfolio
    div.nav-main
      div.vertical-center 
        a(href="/pokedex") Pokédex