doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    include navbar
    block content
      h1 DEFAULT CONTENT (Sorry if you are seeing this)
    block foot
      include foot