extends ../partials/layout

block content
  div.contact(style="margin: 5px")

    h1 Me contacter
    a(style="font-weight: bold;" href="http://www.linkedin.com/in/pamarthur" target="_blank")
        img(src="/portfolio_resources/images/2000px-LinkedIn_Logo.png" width="200" height="54")
    p(style="font-weight: bold") Téléphone : 07 87 04 06 03
    a(href="mailto:arthur.pamart@epita.fr") E-mail : arthur.pamart@epita.fr