extends ../partials/layout

block content
  div#CV.CV
    h1
      |PAMART <br>
      |Arthur      

      h2 Etudes
    p
      span
        |(2017-2018) première année d'ingénieur à 
        a(href="http://www.epita.fr" target="_blank") EPITA
      span
        |(Ecole pour l’Informatique et les Techniques avancées) - Le Kremlin Bicêtre
    p
      span
        |Semestre universitaire en Corée du Sud de février à juin 2017
      span
        |(Sejong university) – Séoul
    p
      span
        |(2015-2017) Etudes préparatoires à 
        a(href="http://www.epita.fr" target="_blank") EPITA
        |  - Villejuif
    p
      span
        |2015 Baccalauréat séries S Mention Bien
      span
        |(
        a(href="http://www.uruguayfrance.fr" target="_blank") Lycée Uruguay-France
        |) - Avon

    h2 Expériences Professionnelles
    p
       span
        |Job d’été en juillet 2017 à O’chap (77 Fontainebleau)
      span
        |Employé de soutien dans un établissement de restauration rapide
    p
      span
        |Stage en janvier 2017 à 
        a(href="http://www.meteomodem.com/" target="_blank") Modem
        |  (77 Ury)  
      span
        |Création d’une page web de tracking de sonde météorologique
    p 
      span
        |Stage en juillet 2016 à 
        a(href="https://www.biocoop.fr/" target="_blank") Biocoop
        |  (77 Varennes sur Seine)
      span
        |Manutention - Relation clientèle - Gestion de stock
    p
      span
        |Stage d’intégration en entreprise en 2011 à 
        a(href="http://www.satisloh.com/" target="_blank") SatisLoh
        |  Gmbh (Wetzlar ALLEMAGNE)
      span
        |Usinage de pièces sur fraiseuse numérique, Intégration dans une équipe d’ouvriers
    
    h2 Projets
    p
      |MyRpgMaker (3 personnes) : <br>
      |Editeur de jeux s'inspirant du logiciel RPGMaker (2018)
    p 
      |42sh (3 personnes) : <br>
      |Interpréteur de commandes shell respectant la norme POSIX (2017)
    p
      |Malloc (seul) : <br>
      |Implémentation d’un allocateur de mémoire en C (2017)
    p
      |Rush C (3 personnes) : <br>
      |Jeu vidéo réalisé en 24h à l’aide de SDL (2017)
    p
      |Formula one (2 personnes) : <br>
      |Intelligence artificielle capable de piloter en autonomie une voiture virtuelle (2017
    p
      |OCR (4 personnes) : <br>
      |Logiciel de reconnaissance de caractères basé sur un réseau de neurone (2016)
    p 
      a(href="http://clockworkg.github.io/index.html" target="_blank") M.O.H.S.
      |  (4 personnes) : <br>
      |Jeu vidéo en réseau local lors du deuxième semestre préparatoire à EPITA (2016)

    a(href="/portfolio_resources/CV_PAMART_Arthur.pdf" target="_blank")
      button.button
        | Obtenir une version pdf
 
  div#CVbar.CVbar
    img(src="/portfolio_resources/images/pamart_a.png" style="margin-top: 10px; margin-left: 5%; width: 90%; height: 90%; border-radius: 10px;")
    a(href="/career/contact")
      h2 Contact
    p(style="font-weight: bold") 07 87 04 06 03
    p
      a(href="mailto:arthur.pamart@epita.fr") arthur.pamart@epita.fr
    p
      a(style="font-weight: bold" href="http://www.linkedin.com/in/pamarthur" target="_blank") Linkedin
      
    h2 Compétences
    p
      |Systèmes d’exploitation : <br>
      |Windows, Linux
    p 
      |Outils de developpement : <br>
      |IntelliJ, Eclipse, Visual studio, Code blocks, Git, gcc
      
    div.p
      Langages de programmation : <br>
      div.progress-wrapper
        |Java       
        progress(max="100" value="70")
      div.progress-wrapper
        |C          
        progress(max="100" value="90")
      div.progress-wrapper
        |C++        
        progress(max="100" value="70")
      div.progress-wrapper
        |C#         
        progress(max="100" value="50")
      div.progress-wrapper
        |Python     
        progress(max="100" value="70")
      div.progress-wrapper
        |JavaScript 
        progress(max="100" value="80")
      div.progress-wrapper
        |BASH       
        progress(max="100" value="69")

    h2 Langues
    p Anglais (Niveau professionnel)
    p Allemand (Niveau scolaire)
      
    h2 Loisirs
    p Handball en competition
    p Course à pied
    p Ski
    p Lecture
    p Voyages