div.navbar
  script(type="text/javascript" src="/pokedex_resources/javascript/navbar.js")
  div.nav-row.left-align
    div.nav-main.nav-first
      div.vertical-center 
        a(href="/pokedex") Menu
    div.nav-main
      div.vertical-center 
        a(href="") test
  div.right-align
    input#nav_searchbar(placeholder="Search anything...").dex-searchbar.nav-searchbar
    block navigation