h1#Summary Summary

div(style="  background-color: #{background};").pokemon-color
  div.main-frame.left-align.pokemon-overview
    div#pokemon_name.pokemon-name= pokemon.species.name
    img(src= pokemon.sprites.front_default).secondary-frame.pokemon-sprite
  
  div.main-frame
    select#version_description_select(onchange="changeDescription()")
      each description in descriptions
        option(value="#{description.version.name}")= description.version.name
    each description in descriptions
      div(id="#{description.version.name}").secondary-frame.description= description.flavor_text

  div.main-frame.left-align
    div#type_frame(style="background: linear-gradient(90deg," + types[0].color + "," + types[0].color + "," + types[1].color + "," + types[1].color + ");").left-align.type-frame
      = types[0].name + " " + types[1].name
    div.stat-frame
      div.stat
        | HP: 
        progress#hp(max="255", value= pokemon.stats[5].base_stat).stat-bar
      div.stat
        | Attack: 
        progress#attack(max="255", value= pokemon.stats[4].base_stat).stat-bar
      div.stat
        | Defense: 
        progress#defense(max="255", value= pokemon.stats[3].base_stat).stat-bar
      div.stat
        | Special attack: 
        progress#special-attack(max="255", value= pokemon.stats[2].base_stat).stat-bar
      div.stat
        | Special defense: 
        progress#special-defense(max="255", value= pokemon.stats[1].base_stat).stat-bar
      div.stat
        | Speed: 
        progress#speed(max="255", value= pokemon.stats[0].base_stat).stat-bar

  div#pokedatas(style="display: none" species_id=species.id)
