extends partials/layout

block content
  script(type="text/javascript" src="/pokedex_resources/javascript/home_dex.js")
  div.main-frame.left-align
    input#dex_searchbar.dex-searchbar
    br
    button#dex_searchbtn(onclick="search();") Search that pokémon !
  div.horizontal-separator
  table
    tr
      th name
      th index
    - var i = 1;
    each pkmn in pokelist.results
      tr
        td
          a(href="/pokedex/pokemon/" + pkmn.name)= pkmn.name
        td.center-align
          a(href="/pokedex/pokemon/" + i)= i++