extends partials/static/layout

block content
  script(type="text/javascript" src="/pokedex_resources/javascript/home_dex.js")
  div(style="max-width: 1250px; margin: auto")
    div.main-frame.left-align(ng-app="pokeApp" ng-controller="pokeCtrl")
      input#dex_searchbar.dex-searchbar
      //
        select#dex_searchsel(ng-model="selectedSearch" ng-init="selectedSearch = options[0]" ng-options="o.desc for o in options")
      br
      button#dex_searchbtn(onclick="searchPokemon('dex_searchbar');") Search that pokémon !
    
    script.
      var app = angular.module('pokeApp', []);
      app.controller('pokeCtrl', function($scope) {
          $scope.options = [
              {func : "searchPokemon",  desc : "pokémon"},
              {func : "searchType", desc : "type"},
          ];
      });

    button(onclick="getRandomPokedata();").right-align Get another random pokémon.
    
    div.horizontal-separator

    div.random-pokedata
      h2 Random Pokémon:
      div#pokedata_container
        img(src="/pokedex_resources/images/pokeball_720.png").loading_ball

    div#pokelist_container.left-align
      img(src="/pokedex_resources/images/pokeball_720.png").loading_ball
