extends partials/static/layout

block navigation
  div.horizontal-separator
  button#prev_button.nav-button < previous
  button#next_button.nav-button next >

block content
  script(type="text/javascript" src="/pokedex_resources/javascript/pokemon_page.js")
  div#content
    script.
      httpGetAsync("/pokedata/pokemon/#{id}", load_partial, "content", set_pokedata_interactions);
    img(src="/pokedex_resources/images/pokeball_720.png").loading_ball
