extends partials/layout

block content
  div(style="margin: 5px")
    h1= title
    p 
      |Ce site internet est hébergé par un serveur Node.js utilisant les paquets express et pug. <br>
      |Tout le html a été généré avec jade.